@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a class="log-reg" href="/Login" target="_self">Login</a>
            <a class="log-reg" href="/Register" target="_self">Register</a>
        </div>

        <div id="main-body-id" class="content px-4">
            @Body
        </div>
    </div>
    <CascadingBlazoredModal />

</div>
