.page {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.content {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: auto;
}

#main-body-id {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('https://s.marketwatch.com/public/resources/images/MW-II054_reboun_ZG_20200605152839.jpg');
    background-size: cover;
    margin: 0px;
}

    #main-body-id::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(171, 65, 158, 0.3);
    }
.top-row {
    background-image: linear-gradient(to right, rgb(4, 23, 61) 0%, #3a0647 70%);
    border-bottom: 1px solid rgb(4, 23, 61);
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    margin: 0;
}

.log-reg {
    color: palevioletred;
    font-size: 20px;
    text-decoration: none;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
