@page "/fetchdata"
@inject HttpClient Http

<h1>Financial State</h1>

<p>Financial History</p>

@if (finances == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Income</th>
                <th>Expense</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var finance in finances)
            {
            <tr>
                <td>@finance.Income</td>
                <td>@finance.Expense</td>
                <td>@finance.Date.ToShortDateString()</td>
                <td><button>edit</button></td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private Finance[] finances;

    protected override async Task OnInitializedAsync()
    {
        finances = await Http.GetFromJsonAsync<Finance[]>("sample-data/weather.json");
    }

    public class Finance
    {
        public DateTime Date { get; set; }

        public int Income { get; set; }

        public string Expense { get; set; }

    }
}
