@using Services
@using Models
@inject IFinanceService FinanceService

<EditForm Model="@finance" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="Expense">Expense</label>
        <InputNumber id="Expense" class="form-control" @bind-Value="finance.Expense" />
    </div>
    <div class="form-group">
        <label for="Income">Income</label>
        <InputNumber id="Income" class="form-control" @bind-Value="finance.Income" />
    </div>
    <div class="form-group">
        <label for="Date">Date </label>
        <InputDate id="Date" class="form-control" @bind-Value="finance.Date" />
    </div>
    <div class="container btn-group">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-primary ">Centered button</button>
            </div>
        </div>
    </div>
</EditForm>
@code {
    private CreateFinance finance = new CreateFinance();
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    private  void HandleValidSubmit()
    {
        FinanceService.CreateFinancialStatement(finance);
        ModalInstance.Close(ModalResult.Ok<CreateFinance>(finance));
    }
}