@page "/"
    <style>
    body { background-image: url('C:\Users\bpantaru\Desktop\.netorro\clona\.Ne-Torro\PredictionsWebApp\Pages\img\pexels-energepiccom-159888.jpg'); }
    </style>
    <h1>Hello!</h1>

    Welcome to the best Stock Price Prediction App!.

