@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="/Login" target="_self">Login</a>
            <a href="/Register" target="_self">Register</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
